@tailwind base;
@tailwind components;
@tailwind utilities;
/*bg-gray-900 = 
    background-color: rgb(17 24 39); , bg-gray-800/90 (ty le any navbar)*/

body {
  font-family: "Press Start 2P", cursive;
}
/*html, body { height: 100%; }
body { margin: 0; }
*/
