/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/*bg-gray-900 = 
    background-color: rgb(17 24 39); , bg-gray-800/90 (ty le any navbar)*/
/*
<section class="h-screen flex flex-col items-center justify-center text-center px-4 bg-gray-900 text-white">
    <h1 class="text-5xl font-extrabold text-red-500">Bienvenue sur Lux Gaming</h1>
    <p class="text-gray-300 mt-3 text-lg">Le meilleur endroit pour les passionnés de jeux vidéo.</p>
    <button class="mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-full text-lg">
      Explorer les jeux
    </button>
  </section>*/
body {
  font-family: "Press Start 2P", cursive;
}
/*html, body { height: 100%; }
body { margin: 0; }
*/
