<section
  class="min-h-screen flex items-center justify-center px-6 bg-gradient-to-b from-gray-900 to-gray-800 text-white relative overflow-hidden"
>
  <div
    class="absolute inset-0 opacity-20 bg-[url('https://www.transparenttextures.com/patterns/cubes.png')] animate-grid-move"
  ></div>
  <div
    class="absolute inset-0 bg-black opacity-10 pointer-events-none scanlines"
  ></div>

  <div class="relative flex flex-col items-center w-full max-w-4xl">
   <h1 class="text-xl font-bold text-gray-300 mb-6">
      Liste des jeux disponibles actuellement
    </h1>

    <div *ngIf="games.length > 0; else noGames">
      <div
        class="flex flex-col md:flex-row bg-gray-800 bg-opacity-70 p-6 rounded-lg shadow-lg gap-6"
        [@fadeSlide]
      >
        <div class="flex-1 text-left">
          <h2 class="text-2xl font-bold text-gray-300">
            {{ games[currentIndex].title }}
          </h2>
          <p class="text-gray-400 mt-2 line-clamp-3">
            {{ games[currentIndex].description }}
          </p>
          <div class="mt-4 flex gap-2">
            <a [href]="games[currentIndex].downloadLink">
              <button
                class="bg-red-800 hover:bg-red-700 text-white py-2 px-4 rounded-full"
              >
                Télécharger
              </button>
            </a>
            <button
              (click)="openModal(games[currentIndex])"
              class="bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 rounded-full"
            >
              Détails
            </button>
          </div>
        </div>
        <div class="flex-1 flex items-center justify-center">
          <img
            [src]="games[currentIndex].image"
            [alt]="games[currentIndex].title"
            class="rounded-lg shadow-md object-cover max-h-64 mx-auto"
          />
        </div>
      </div>
      <button
        *ngIf="games.length > 1"
        (click)="nextGame()"
        class="mt-4 text-gray-300 hover:text-white"
      >
        Voir le jeu suivant →
      </button>
    </div>
    <ng-template #noGames>
      <p class="text-gray-400">Aucun jeu disponible pour le moment.</p>
    </ng-template>
  </div>

  <!-- ato ny detail jeux modal -->
  <div
    *ngIf="selectedGame"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
  >
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg max-w-lg w-full relative">
      <button (click)="closeModal()" class="absolute top-2 right-2 text-white">
        ✖
      </button>
      <h2 class="text-2xl font-bold text-gray-300 text-center">
        {{ selectedGame.title }}
      </h2>
      <p class="text-gray-400 mt-2 text-center">
        {{ selectedGame.description }}
      </p>
      <div class="flex justify-center mt-4">
        <img
          [src]="selectedGame.image"
          [alt]="selectedGame.title"
          class="rounded-lg shadow-md object-cover max-h-64 mx-auto"
        />
      </div>
    </div>
  </div>
</section>
