<section
  class="min-h-screen flex flex-col items-center justify-center text-center px-6 bg-gradient-to-b from-gray-900 to-gray-800 text-white relative overflow-hidden"
>
  <div
    class="absolute inset-0 opacity-20 bg-[url('https://www.transparenttextures.com/patterns/cubes.png')] animate-grid-move"
  ></div>
  <div
    class="absolute inset-0 bg-black opacity-10 pointer-events-none scanlines"
  ></div>
  <h1 class="text-gray-300">Listes de tous les jeux disponible sur notre plateforme</h1>
</section>
