<nav
  class="fixed top-0 left-0 right-0 bg-red-800 p-4 flex items-center justify-between shadow-lg z-50"
>
  <div class="hidden md:flex items-center space-x-6">
    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="hover:text-red-400 text-white text-sm max-w-lg px-3"
      >{{ "NAV.HOME" | translate }}</a
    >
    <a
      routerLink="/games"
      routerLinkActive="active-link"
      class="hover:text-red-400 text-white text-sm max-w-lg px-3"
      >{{ "NAV.GAMES" | translate }}</a
    >
  </div>
  <div
    class="absolute left-1/2 transform -translate-x-1/2 flex items-center space-x-2 cursor-pointer"
  >
    <img src="/logo-no-background.png" alt="Lux | Company logo" class="w-20" />
    <span class="text-base font-semibold text-white">Lux Company</span>
  </div>
  <div class="hidden md:flex items-center space-x-6">
    <a
      routerLink="/about"
      routerLinkActive="active-link"
      class="hover:text-red-400 text-white text-sm max-w-lg px-3"
      >{{ "NAV.ABOUT" | translate }}</a
    >
    <a
      routerLink="/contact"
      routerLinkActive="active-link"
      class="hover:text-red-400 text-white text-sm max-w-lg px-3"
      >{{ "NAV.CONTACT" | translate }}</a
    >
    <!--
      <div class="relative">
        <button
        (click)="toggleLanguageMenu()"
        class="flex items-center hover:text-red-400 text-white text-sm"
        >
        <svg
          class="w-5 h-5 mr-1"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          >
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="2" y1="12" x2="22" y2="12"></line>
          <path
          d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
          ></path>
        </svg>
        {{ currentLanguage }}
      </button>
      <div
      *ngIf="languageMenuOpen"
      class="absolute right-0 mt-5 bg-red-700 rounded shadow-lg p-2 w-24 z-50"
      >
      <button
      *ngFor="let lang of languages"
      (click)="changeLanguage(lang.code)"
      class="block w-full text-left px-2 py-1 text-white hover:bg-red-600 text-xs truncate"
      >
      {{ lang.name }}
    </button>
  </div>
</div>
-->
  </div>
  <button (click)="toggleMenu()" class="md:hidden p-2">
    <svg
      [ngClass]="{ hidden: menuOpen, block: !menuOpen }"
      class="w-8 h-8 text-white stroke-current"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
    <svg
      [ngClass]="{ block: menuOpen, hidden: !menuOpen }"
      class="w-8 h-8 text-white stroke-current"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </button>
  <div
    *ngIf="menuOpen"
    class="fixed top-20 left-0 right-0 bg-red-700 p-6 flex flex-col items-center space-y-4 md:hidden"
  >
    <a
      routerLink="/"
      routerLinkActive="active-link"
      class="text-white text-lg"
      >{{ "NAV.HOME" | translate }}</a
    >
    <a
      routerLink="/games"
      routerLinkActive="active-link"
      class="text-white text-lg"
      >{{ "NAV.GAMES" | translate }}</a
    >
    <a
      routerLink="/about"
      routerLinkActive="active-link"
      class="text-white text-lg"
      >{{ "NAV.ABOUT" | translate }}</a
    >
    <a
      routerLink="/contact"
      routerLinkActive="active-link"
      class="text-white text-lg"
      >{{ "NAV.CONTACT" | translate }}</a
    >
    <!--
    <div class="relative w-full flex justify-center">
      <button
        (click)="toggleLanguageMenu()"
        class="text-white text-lg bg-red-600 px-4 py-2 rounded-md shadow-md"
      >
        {{ currentLanguage }}
      </button>
      <div
        *ngIf="languageMenuOpen"
        class="absolute mt-12 bg-red-800 rounded shadow-lg p-2 w-32 text-center"
      >
        <button
          *ngFor="let lang of languages"
          (click)="changeLanguage(lang.code)"
          class="block w-full px-2 py-1 text-white hover:bg-red-600 text-xs"
        >
          {{ lang.name }}
        </button>
      </div>
    </div>
    -->
  </div>
</nav>
