<section
  class="min-h-screen flex flex-col items-center justify-center text-center px-6 bg-gradient-to-b from-gray-900 to-gray-800 text-white relative overflow-hidden"
>
  <div
    class="absolute inset-0 opacity-20 bg-[url('https://www.transparenttextures.com/patterns/cubes.png')] animate-grid-move"
  ></div>
  <div class="absolute inset-0 bg-black opacity-10 pointer-events-none scanlines"></div>

  <h1
    class="text-xl sm:text-xl md:text-2xl font-extrabold text-gray-300 mt-16 z-10"
  >
    Contactez Lux Company
  </h1>
  <p class="text-gray-400 mt-3 text-xs sm:text-xs md:text-sm max-w-xl z-10">
    Vous avez des questions ou des suggestions ? N'hésitez pas à nous contacter !
  </p>

  <form class="mt-6 w-full max-w-md space-y-4 z-10">
    <input
      type="text"
      placeholder="Nom"
      class="w-full p-3 bg-gray-700 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-red-800"
    />
    <input
      type="email"
      placeholder="Email"
      class="w-full p-3 bg-gray-700 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-red-800"
    />
    <textarea
      placeholder="Message"
      class="w-full p-3 bg-gray-700 text-white rounded-lg h-32 focus:outline-none focus:ring-2 focus:ring-red-800"
    ></textarea>

    <button
      class="w-full bg-red-800 hover:bg-red-700 text-white font-bold py-3 rounded-full flex items-center justify-center gap-2 flicker"
    >
      Envoyer
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-5 h-5"
      >
        <path d="M22 2L11 13"></path>
        <path d="M22 2L15 22 11 13 2 9 22 2z"></path>
      </svg>
    </button>
  </form>
  <div class="mt-6 flex space-x-4 z-10">
    <a
      href="https://wa.me/+261334234927"
      target="_blank"
      class="p-3 bg-green-600 hover:bg-green-500 rounded-full flex items-center justify-center transition duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6 text-white"
      >
        <path
          d="M20 11.066c0-4.94-4.03-8.966-9-8.966S2 6.127 2 11.066c0 1.78.53 3.436 1.437 4.83L2 22l6.368-1.347A9.008 9.008 0 0011 20c4.97 0 9-4.027 9-8.934zm-9 7.934a7.98 7.98 0 01-3.913-1.008L4 19l1.008-3.154A7.983 7.983 0 014 11.066c0-4.41 3.59-8 8-8s8 3.59 8 8-3.59 8-8 8zm3.744-5.19c-.208-.105-1.235-.609-1.426-.676s-.33-.105-.469.105c-.14.209-.537.677-.659.818s-.243.157-.451.052a6.474 6.474 0 01-2.7-2.238 3.053 3.053 0 01-.685-2.028c.008-.157.073-.312.199-.425s.287-.33.39-.506c.103-.174.173-.365.24-.546.078-.203.035-.375-.026-.516s-.469-1.12-.64-1.533c-.168-.412-.338-.354-.469-.354-.13 0-.278-.017-.425-.017s-.39.052-.594.26c-.208.209-.793.78-.793 1.906s.812 2.216.924 2.37c.104.157 1.604 2.48 3.883 3.49 1.437.626 1.737.67 2.35.574.38-.057 1.236-.504 1.409-.992.173-.488.173-.907.122-.992-.052-.086-.199-.14-.408-.245z"
        ></path>
      </svg>
    </a>

    <a
      href="https://www.facebook.com/profile.php?id=61554854878749"
      target="_blank"
      class="p-3 bg-blue-600 hover:bg-blue-500 rounded-full flex items-center justify-center transition duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6 text-white"
      >
        <path
          d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.88V14.89h-2.54v-2.89h2.54V9.845c0-2.508 1.492-3.89 3.777-3.89 1.094 0 2.24.195 2.24.195v2.46H15.66c-1.41 0-1.847.872-1.847 1.763v2.127h3.14l-.502 2.89h-2.638V21.88C18.343 21.128 22 16.991 22 12z"
        ></path>
      </svg>
    </a>
  </div>
</section>
