@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.flicker {
  animation: flicker 1500ms infinite alternate;
  box-shadow: 0 0 3px #ff0000, 0 0 6px #ff3333, 0 0 9px #ff4500;
}

@keyframes grid-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}

.animate-grid-move {
  animation: grid-move 10s linear infinite;
}

.scanlines {
  background: linear-gradient(rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 100% 4px;
  pointer-events: none;
}
